@model UserDisplay
@{
    ViewData["Title"] = "User Details";
}

<div class="container">
    <ul>
        <li>@Model.IdViber</li>
        <li>@Model.Name</li>
        <li>@Model.Country</li>
        <li>@Model.Language</li>
        <li>@Model.DeviceType</li>
    </ul>
</div>
